#mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
   background-color: #DFFFFD;
}

/*@font-face {
    font-family: Oxanium;
    src: url('../fonts/Oxanium-VariableFont_wght.woff') format('woff'), url('../fonts/Oxanium-VariableFont_wght.woff2') format('woff2');
} */

body {
    font-family: 'Oxanium', Arial, sans-serif;
}

body * {
    transition: all 0.25s ease-in-out;
}

header {
    padding-top: 25px;
}

    #logo {
        font-family: 'Tektur', sans-serif;
        font-size: 54px;
        margin-bottom: 10px;
        font-weight: 800;
        color: #FF8400;
        text-align: center;
        cursor: pointer;
    }



article {
    margin-bottom: 60px;
}

    section {
        margin-top: 48px;
    }

    h2, h3 {
        font-size: 24px;
        font-weight: 500;
        margin-top: 12px;
    }

    h2 {
        padding-bottom: 5px;
        border-bottom: 3px solid #FF8400;
        margin-bottom: 18px;
        width: 80%;
    }

    h3 {
        margin-bottom: 10px;
    }

    p{
        font-size: 14px;
        font-weight: 500;
        line-height: 23px;
    }

    p + p {
        margin-top: 12px;
    }

    article img {
        box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .double-img {
        padding: 0;
        margin-bottom: 20px;
        grid-template-rows: 78px 105px auto;
    }
        .double-img img:nth-child(1) {
            z-index: 1;
            grid-row: 2/4;
        }
        .double-img img:nth-child(2) {
            grid-row: 1/3;
        }

    .product-name {
        font-weight: 700;
        letter-spacing: -1px;
        font-size: larger;
        color: #FF8400;
    }
