#mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
   background-color: #DFFFFD;
}

/*@font-face {
    font-family: Oxanium;
    src: url('../fonts/Oxanium-VariableFont_wght.woff') format('woff'), url('../fonts/Oxanium-VariableFont_wght.woff2') format('woff2');
} */

body {
    font-family: 'Oxanium', Arial, sans-serif;
}

body * {
    transition: all 0.25s ease-in-out;
}

header {
    padding-top: 50px;
}

    #hamburger + label {
        cursor: pointer;
    }

    #hamburger:checked + label img {
        transform: rotate(90deg);
    }

    #logo {
        text-align: center;
    }

    #main-nav {
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        padding-bottom: 10px;
        opacity: 0;
        max-height: 0;
    }
    #hamburger:checked ~ #main-nav {
        opacity: 1;
        max-height: 380px;
    }
    
    #burger-con {
        list-style-type: none;
    }
    #burger-con li {
        padding: 5px 0;
        cursor: pointer;
    }
        #burger-con li a{
            display: block;
            width: 100%;
            text-decoration: none;
            color: inherit;
            transition: all 0s linear;
        }
        #burger-con li:hover {
            background-color: #2e2e2e;
            color: white;
        }



article {
    margin-bottom: 80px;
}

    section {
        margin-top: 48px;
    }

    h2, h3 {
        font-size: 24px;
        font-weight: 500;
        margin-top: 12px;
    }

    h2 {
        padding-bottom: 5px;
        border-bottom: 3px solid #FF8400;
        margin-bottom: 18px;
        width: 80%;
    }

    h3 {
        margin-bottom: 10px;
    }

    p{
        font-size: 14px;
        font-weight: 500;
        line-height: 23px;
    }

    p + p {
        margin-top: 12px;
    }

    article img {
        box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .double-img {
        padding: 0;
        margin-bottom: 20px;
        grid-template-rows: 78px 105px auto;
    }
        .double-img img:nth-child(1) {
            z-index: 1;
            grid-row: 2/4;
        }
        .double-img img:nth-child(2) {
            grid-row: 1/3;
        }

    .product-name {
        font-weight: 700;
        letter-spacing: -1px;
        font-size: larger;
        color: #FF8400;
    }
